<link href="https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/siwg.css">
</head>
<body>
  <nav>
    <% if (user) { %>
      <div class="bg-image"></div>
          <a href="/auth/logout">
            <button class="Logout" type="submit">Logout</button>
          </a>
          <a href="/profiles">
        <button class="Animeists" type="submit">Anime'est</button> </a>
        
      <form class="Search" action="/animes/search" method="POST">
        <input class="searchTerm" name="query" type="text" placeholder="Search for Anime">
        <button class="searchButton " type="submit">Search</button>
      </form>
    <a href="/profiles/<%= user.profile._id %>/anime"><button class="MyAnime" type="submit">My Anime</button></a>
    <a href="http://localhost:3000/" <%- title==='Home' ? 'class="active"' : '' %>><button class="Home" type="submit">Home</button></a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
      <a href="../show.ejs"><button class="About" type="submit">About</button></a>
    <% } %>
  </nav>
