<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>welcome to Animegram</h1>

  <div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="content">
      <div class="close-btn" onclick="togglePopup()">&times;</div>
      <h1>About</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error amet cupiditate eaque ducimus quam nemo atque at veniam cumque, autem eligendi beatae rerum? Fugit, architecto totam. Dicta consequatur quam a.</p>
    </div>
  </div>
  <button onclick="togglePopup()">About</button>
</main>
<% function togglePopup() {%>
  <%const popup= document.getElementById("popup-1")%>
  <% popup.classList.toggle("active")%> 
<% } %>


<%- include('./partials/footer') %>
