<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css">
  <%- include('./partials/nav') %>
  <main>
    <h1>welcome to Animegram</h1>
  </main>
  <%- include('./partials/footer') %>