html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  background:url('https://media1.giphy.com/media/WeyqDp1shHe7u/giphy.gif?cid=ecf05e47yigcbiamd3w6se8l3hmdcxzb4qf0ftqekt74ae0g&rid=giphy.gif&ct=g') center  270px;
  background-repeat: no-repeat;
  background-color: black;
}

nav {
  background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/24d5206b-806e-4071-8935-41313d6956b3/d6ksisp-630890f0-6a63-4c2e-9446-bc6bd1581f44.png'); 
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  min-height: 150px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  -webkit-filter: blur(1px);
-moz-filter: blur(1px);
-o-filter: blur(1px);
-ms-filter: blur(1px);
filter: blur(1px);
opacity: 0.9;
}

nav > * {
  opacity: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
}

nav > a {
  margin: 1rem 3rem;
  text-decoration: none;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logout{
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 100px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 4px 0 0 4px;
  font-weight: bolder;

}
.Animeists{
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 100px;
  color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 3px 0 0 3px;
}
.MyAnime{
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 100px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0 3px 3px 0;
}
.Home{
  /* outline: yellow;
  border:3px solid rgb(214, 102, 11) ;
  width: 100px;
  height: 50px;
  border-radius: 5px; */
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 100px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0 3px 3px 0;
    border-radius: 3px 0 0 3px;
}
.Search {
  width: 300px;
  height: 40px;
  margin:  auto;
  background: #444;
  background: rgba(0,0,0,.2);
  border-radius:  3px;
  border: 1px solid #fff;
  border-radius: 3px 0 0 3px;
}
  input {
    width: 195px;
    padding: 10px 5px;
    float: left;
    color: #ccc;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
  }
  .searchButton {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 100px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0 3px 3px 0;
  }
  button:hover {
      background: #fff;
      color:#444;
    }
    button:active {
      box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
    }
    button:focus {
      outline: 0;
    }
  

  
.neonText {
  animation: flicker 1.5s infinite alternate;
  color:yellow;
}

@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(238, 255, 0),
      0 0 80px rgb(251, 255, 0),
      0 0 90px rgb(255, 251, 0),
      0 0 100px rgb(238, 255, 0),
      0 0 150px rgb(251, 255, 0);
  
  }
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
