<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <main>
      <h1>Search Results</h1>
      <h2><%= anime. %> </h2>
    </main>

    <%- include('../partials/footer') %>